@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

html ::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #6b7280;
}

html {
  scroll-behavior: smooth;
}

img {
  filter: brightness(0.25);
}